{% load static %}
<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static base.css %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css" integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    {% block customecss %}
    {% endblock customecss %}

    <title>試作品</title>
  </head>
  <body>
    <ul>
     <a>フィギュアスケート部</a>
     <a>{{ request.user }}さんのページ</a>
     <a href="{% url 'accounts:logout' %}">ログアウト</a>
     <a href="{% url 'checklist:type' %}">ホーム</a>
    </ul>

    {% block header %}
    {% endblock header %}

    {% block content %}
    {% endblock content %}

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  </body>
</html>